// html
@HFS: 18px;

// input
@INPUTFS: 16px;

// song control
@SCTLFS: 16px;

// song control icon
@SCTLIFS: 20px;

// weixin code
@WXCFS: 15px;

// nav bar
@NBFS: 20px;

// nav bar icon
@NBIFS: 20px;