@import url('../icon/index.css');
@import url('./color.less');
@import url('./class.less');
@import url('./font.less');
@import url('./fontSize.less');

* {
  margin: 0px;
  padding: 0px;
}

html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-family: 'comfortaa-light', 'huawen';
  font-size: @HFS;
  font-weight: normal;
}